@model MyLogbook.Models.Concert

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Concert</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.With)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.With)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hall)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
        @*
    <dt>
        @Html.DisplayNameFor(model => model.UserId)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.UserId)
    </dd>
        *@
    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la liste", "Index")
</p>
