@model MyLogbook.ViewModels.FavoriteViewModel
@{
    ViewBag.Title = "Tableau de bord";
}

<h2>Tableau de bord</h2>
<br />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("BestWriters", Model)
    </div>
    <div class="col-md-8">
        <img src="@Url.Action("DrawGraphBook", new { })" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
        <img src="@Url.Action("DrawGraphMovie", new { })" />
    </div>
    <div class="col-md-4">
        @Html.Partial("BestDirectors", Model)
    </div>
</div>

<br />
<div class="row">
    <div class="col-md-4">
        @Html.Partial("FavoriteConcertHalls", Model)
    </div>
    <div class="col-md-8">
        <img src="@Url.Action("DrawGraphConcert", new { })" />
    </div>
</div>
